* {
    box-sizing: border-box;
    color: #504635;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #f5f1ec;
    font-size: 24px;
}

.header {
    width: 100%;
    background-color: rgb(141, 116, 81);
}

.header-inner {
    max-width: 1380px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header__heading {
    margin: 0;
    margin-right: 40px;
    color: #fff;
    font-family: "Mountains of Christmas", serif;
    text-decoration: none;
    font-size: 50px;

}

.allergy-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 10;
}

.allergy-area-content {
    padding: 10px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-nav__content {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 50px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;

    border: none;
    transition: 0.2s;
}

.header-btn--light {
    background-color: #fff;
    color: #504635;
    box-shadow:
    inset 0 0 0 4px #fff,
    inset 0 0 0 6px #504635;
}

.header-btn--dark {
    background-color: #504635;
    color: #fff;
    box-shadow:
    inset 0 0 0 5px #504635,
    inset 0 0 0 6px #fff;
}

.content {
    width: 100%;
}

input {
    font-size: 20px;
    padding: 5px 10px;
}

.form__error {
    color: red;
    font-size: 20px;
    padding: 10px 0;
}

.allergy-button {
    width: 76px;
    height: 39px;
    border: solid 1px #D9C6B599;
    background-color: #F4F4F44D;
    color: #D9C6B5;
    font-size: 18px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal__content {
    width: 80%;
    max-width: 800px;
    height: auto;
    min-height: 400px ;
    background: #fff;
    border: solid 1px #8B7969;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 4px #8B796940;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    border: solid 1px #8B7969;
    border-radius: 50%;
    color: #8B7969;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}